.wraper{
    background-color: #282D35;
    margin: 0;
    padding: 0%;
}
.project1_nav-logo{
height: 60px;
}
nav{
display: flex;
background-color: #21222A;
height: 70px;
padding: 30px 25px;
box-shadow: none;
}
.project1_nav--logo_text, .project1_nav--title {
margin: 0%;
padding-top: 12px;
}
.project1_nav--logo{
height: 50px;
margin-left: 20px;
}
.project1_nav--logo_text{
margin-right: auto;
padding-left: 10px;
color: #61DAFB;
font-weight: 700;
}
.project1_nav--title {
    color: #DEEBF8;
    font-weight: 700;
    margin-right: 20px;
}

p {
    font-size : 32px;
    color : blue;
}
.project1_react__data li {
    font-size : 24px;
}
main{
    padding: 57px 27px ;
    color: white;
}
.project1_main--title{
    margin: 0;
    font-size: 55px;
    letter-spacing: -0.project1_05em;
}
.project1_main--facts{
    margin-top: 46px;
    max-width: 400px;
}
.project1_main--facts >li{
    line-height: 29px;
    padding-block: 10px;    
}
.project1_main--facts >li::marker{
    font-size: 1.project1_5rem;   
    color: #61DAFB;
}

/* toggle dark mode */
.switch {
    display: block;
    position: relative;
    margin: auto;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}

.switch input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;
}

.switch input+span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #99b4df;
    border-radius: 20px;
}

.switch input:checked+span {
    background: #346abf;
}

.switch input+span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}

.switch input:checked+span:before {
    left: 34px;
}
