.card{
    width: 175px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.card--title{
    font-size: 12px;
    padding: 0%;
    margin-bottom: 8px;
}
.card--image{
    width: 100%;
    height: 235px;
    border-radius: 9px;
}
.card--stats {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 8px 0 8px 0;
    padding: 0%;
}
.card--star{
    height: 14px;

}
.card--badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.gray{
    color: #918E98;
}
.bold{
    font-weight: bold;
}