.wraper{
    padding: 20px;
}
.hero{
    display: flex;
    flex: column;
}
.hero--image{
    max-width: 400px;
    align-self: center;
}

.hero--header{
    margin-bottom: 16px;

}
.hero--text{
    margin-top: 0;
}