*{
    margin: 0%;
}
.email--icon, .linkedin--icon{
    height: 9.6px;
    width: 12.8px;
}
.button--email p{
    color: black;
}
p{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}


.button--email, .button--linkedin{
    width:115px;
    height: 34px;
    border-radius: 6px;
    padding: 9px, 13px, 9px, 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.33px;
}
.button--container{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 33px;
}
.button--email{
    background-color: #D1D5DB;
}

.button--linkedin{
    background: #5093E2;

}