/* all the png css */
.profilePicture {
    height: 317px;
    width: 317px;
}
.footer > img{
    height: 25px;
}



* {
    margin: 0%;
}
body{
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 317px;
    height: 780px;
    padding: 44px 117px 44px 116px;
    background-color:rgba(35, 37, 44, 1);
    ;
}
/* .container {
} */
.container{
    background: rgba(26, 27, 33, 1);
    height: 716px;
}

.footer {
    width: 317px;
    height: 64px;
    display: flex;
    justify-content: center;
    gap: 23.5px;
    align-items: center;
    background: black;
}


/* font css */
.p {
    font-size: 10.24px;
    line-height: 15.36px;
    font-family: inter;
    font-weight: 400;
    color:#DCDCDC;
    text-align: left;

}
.name{
    font-size: 25px;
    color: #FFFF ;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    padding-top: 21px;
    letter-spacing: 0.3px;
}
.ocupation{
    font-size: 12.8px;
    color: #F3BF99 ;
    line-height: 15px;
    text-align: center;
    font-weight: 400;
    font-style: regular;
    padding-top: 6.20px;
    letter-spacing: 1.1px;
}
.website{
    font-size: 10.24px;
    color: #F5F5F5 ;
    line-height: 15px;
    text-align: center;
    font-weight: 400;
    padding-top: 8.80px;
    letter-spacing: 1px;
}
.contentAbout, .contentInterest{
    margin-left: 36px;
    margin-right: 34px;
}

.titleContent{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-style: bold;
    color: #F5F5F5;
}
.detailContent {
    font-size: 10.24px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-top: 5px;
}
.titleContentInterest {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-style: bold;
    color: #F5F5F5;
    margin-top: 27px;
}

.detailContentInterest {
    font-size: 10.24px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-top: 5px;
    margin-bottom: 24px;
}