.nav-item,
nav {
    display: flex;
    justify-content: space-between;
}
nav{
    box-shadow: 3px 2px rgb(163, 99, 99) ;
}
#title{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.nav-logo{
    height:40px;
}

.nav-item{
    list-style-type: none;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.nav-item > li {
    padding: 10px;
}