body {
    box-sizing: border-box;
    margin: 0;
}
.web--icon {
    height: 24px;
}
.web--domain{
    color: #FFFF;
    font-weight: 500;
    font-size: 14.9px;
    line-height: 17px;
    letter-spacing: 0.7px;
}

header {
    height: 55px;
    background-color: #F55A5A;
    justify-content: center;
    gap: 7px;
    display: flex;
    margin-bottom: 49px;
    align-items: center;
}


