body{
    box-sizing: border-box;
    margin: 0;
}
a{
    color: #918E9B;
    text-decoration: none;
}
.title--image{
    border-radius: 5px;
    width: 125px;
    height :168px;
}
.location--icon{
    width: 15px;
    height: 20px;
    margin-right: 5px;
}
.wraper{
    margin: 24px 40px 12px 40px ;
    display: flex;
    border-bottom: 1.5px solid #F5F5F5;
    
}
.wraper--content{
    margin-left: 19px;
}
.country--location{
    margin-right: 12px;
}
.title{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin: 4px 0 7px;
}
.event--date{
    font-weight: 700;
    margin-bottom: 9px;
}