.header {
    display : flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}
.header--image{
    height: 100%;
    margin-right: 6px;
}
.header--title{
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project{
    font-size: 1.75rem;
}