main{
    padding: 36px;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 8px;
}
.form--input{
    font-family: "karla", sans-serif;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 5px;
    max-width: 42.5vw;
}

.form--button{
    font-family: 'carla', sans-serif;
    grid-column: 1 / -1;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
    max-width: 90vw;
    border-radius: 5px;
}
.meme--image{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.image-wraper{
    position: relative;
        font-size: 32px;
        color: white;
        font-weight: 700;
        line-height: 30px;
        font-family: 'Times New Roman', Times, serif;
}
.top--text, .bottom--text{
    position: absolute;
}
.top--text {
    right: 50%;
    top: 10%;
    transform: translate(50%, 20%);
}
.bottom--text{
    right: 50%;
    bottom: 10%;
    transform: translate(50%, 20%);
}

/* style for state.jsx */
.btn-white{
    background-color: white;
    border-radius: 3px;
}
.btn-blue{
    background-color: #A818DA;
    border-radius: 3px;
    color: white    ;
}
/* end for state.jsx */